API_KEY=Твой апи ключ от https://apilayer.com для currency_api()
API_URL=Твой url(В проекте https://api.apilayer.com/exchangerates_data/latest)
API_KEY_STOCKS=Твой апи ключ от https://finage.co.uk для